* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 300px;
  height: auto;
  padding: 15px;
  background-color: #000;
  border-radius: 5%;
}

input {
  width: 100%;
  height: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 10%;
  margin: 3px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

button:active {
  background-color: #f2f2f2; /* Add a subtle color change on button press */
}
.equal, .backspace, .decimal, .operator {
  background-color: orange;
  color: #000;
}
.clear {
  background-color: red;
}